In [141]:
import os
import pandas as pd
os.chdir("C:\\Users\\Dell\\Python Class DSB\\bike_counts_Kaan_Rehan\Testing the data")
print(os.listdir())
df = pd.read_csv("external_data.csv")
df2 = pd.read_csv("ext_data.csv")

['.ipynb_checkpoints', 'data.csv', 'data.xlsx', 'external_data.csv', 'ext_data.csv', 'submission_14101', 'Untitled.ipynb']

In [142]:
df.columns

Index(['Unnamed: 0', 'date', 'Temperature (C)', 'wind_dir', 'wind_speed',
       'Humidity', 'Visibility', 'Precipitation', 'pressure1', 'sunshine_time',
       'suntime', 'new_cases'],
      dtype='object')

In [143]:
df2.columns

Index(['Unnamed: 0', 'date', 'Temperature (C)', 'wind_dir', 'wind_speed',
       'Humidity', 'Visibility', 'Precipitation', 'pressure1', 'sunshine_time',
       'suntime', 'date_only', 'new_cases'],
      dtype='object')

In [144]:
df.shape, df2.shape

((11554, 12), (11557, 13))

In [145]:
df.head()

,Unnamed: 0,date,Temperature (C),wind_dir,wind_speed,Humidity,Visibility,Precipitation,pressure1,sunshine_time,suntime,new_cases
0,0,01-09-2020 23:00,14.9,NNE,5.6,63,20.0,0,1019.1,21960,48255,5104
1,1,01-09-2020 22:00,15.2,NNE,5.6,59,20.0,0,1019.0,21960,48255,5104
2,2,01-09-2020 21:00,16.4,NE,7.4,52,20.0,0,1018.9,21960,48255,5104
3,3,01-09-2020 20:00,17.1,NNE,7.4,49,20.0,0,1018.5,21960,48255,5104
4,4,01-09-2020 19:00,18.5,NNE,5.6,46,20.0,0,1017.9,21960,48255,5104

In [146]:
df2.head()

,Unnamed: 0,date,Temperature (C),wind_dir,wind_speed,Humidity,Visibility,Precipitation,pressure1,sunshine_time,suntime,date_only,new_cases
0,0,2020-09-01 23:00:00,14.9,NNE,5.6,63.0,20.0,0,1019.1,21960.0,48255.0,2020-09-01,5104.0
1,1,2020-09-01 22:00:00,15.2,NNE,5.6,59.0,20.0,0,1019.0,21960.0,48255.0,2020-09-01,5104.0
2,2,2020-09-01 21:00:00,16.4,NE,7.4,52.0,20.0,0,1018.9,21960.0,48255.0,2020-09-01,5104.0
3,3,2020-09-01 20:00:00,17.1,NNE,7.4,49.0,20.0,0,1018.5,21960.0,48255.0,2020-09-01,5104.0
4,4,2020-09-01 19:00:00,18.5,NNE,5.6,46.0,20.0,0,1017.9,21960.0,48255.0,2020-09-01,5104.0

In [147]:
df.dtypes

Unnamed: 0           int64
date                object
Temperature (C)    float64
wind_dir            object
wind_speed         float64
Humidity             int64
Visibility         float64
Precipitation        int64
pressure1          float64
sunshine_time        int64
suntime              int64
new_cases            int64
dtype: object

In [148]:
df2.dtypes

Unnamed: 0           int64
date                object
Temperature (C)    float64
wind_dir            object
wind_speed         float64
Humidity           float64
Visibility         float64
Precipitation        int64
pressure1          float64
sunshine_time      float64
suntime            float64
date_only           object
new_cases          float64
dtype: object

In [149]:
df2["date"] = pd.to_datetime(df2.date, format="%Y-%m-%d %H:%M:%S")
df["date"] = pd.to_datetime(df.date, format="%d-%m-%Y %H:%M")
df.dtypes, df2.dtypes

(Unnamed: 0                  int64
 date               datetime64[ns]
 Temperature (C)           float64
 wind_dir                   object
 wind_speed                float64
 Humidity                    int64
 Visibility                float64
 Precipitation               int64
 pressure1                 float64
 sunshine_time               int64
 suntime                     int64
 new_cases                   int64
 dtype: object,
 Unnamed: 0                  int64
 date               datetime64[ns]
 Temperature (C)           float64
 wind_dir                   object
 wind_speed                float64
 Humidity                  float64
 Visibility                float64
 Precipitation               int64
 pressure1                 float64
 sunshine_time             float64
 suntime                   float64
 date_only                  object
 new_cases                 float64
 dtype: object)

In [150]:
val = df2[df2.date.duplicated()].date.iloc[0]
exists = df2.date.iloc[0]
pd.to_datetime(exists)

Timestamp('2020-09-01 23:00:00')

In [151]:
df[df.date == pd.to_datetime(val)]

,Unnamed: 0,date,Temperature (C),wind_dir,wind_speed,Humidity,Visibility,Precipitation,pressure1,sunshine_time,suntime,new_cases
4907,4907,2021-03-28 03:00:00,7.2,SO,5.6,70,20.0,0,1029.1,39240,45550,37119

In [152]:
df.date.isin(df2.date)

0        True
1        True
2        True
3        True
4        True
         ...
11549    True
11550    True
11551    True
11552    True
11553    True
Name: date, Length: 11554, dtype: bool

In [153]:
df2.dtypes

Unnamed: 0                  int64
date               datetime64[ns]
Temperature (C)           float64
wind_dir                   object
wind_speed                float64
Humidity                  float64
Visibility                float64
Precipitation               int64
pressure1                 float64
sunshine_time             float64
suntime                   float64
date_only                  object
new_cases                 float64
dtype: object

In [154]:
df.head()

,Unnamed: 0,date,Temperature (C),wind_dir,wind_speed,Humidity,Visibility,Precipitation,pressure1,sunshine_time,suntime,new_cases
0,0,2020-09-01 23:00:00,14.9,NNE,5.6,63,20.0,0,1019.1,21960,48255,5104
1,1,2020-09-01 22:00:00,15.2,NNE,5.6,59,20.0,0,1019.0,21960,48255,5104
2,2,2020-09-01 21:00:00,16.4,NE,7.4,52,20.0,0,1018.9,21960,48255,5104
3,3,2020-09-01 20:00:00,17.1,NNE,7.4,49,20.0,0,1018.5,21960,48255,5104
4,4,2020-09-01 19:00:00,18.5,NNE,5.6,46,20.0,0,1017.9,21960,48255,5104

In [155]:
df2.head()

,Unnamed: 0,date,Temperature (C),wind_dir,wind_speed,Humidity,Visibility,Precipitation,pressure1,sunshine_time,suntime,date_only,new_cases
0,0,2020-09-01 23:00:00,14.9,NNE,5.6,63.0,20.0,0,1019.1,21960.0,48255.0,2020-09-01,5104.0
1,1,2020-09-01 22:00:00,15.2,NNE,5.6,59.0,20.0,0,1019.0,21960.0,48255.0,2020-09-01,5104.0
2,2,2020-09-01 21:00:00,16.4,NE,7.4,52.0,20.0,0,1018.9,21960.0,48255.0,2020-09-01,5104.0
3,3,2020-09-01 20:00:00,17.1,NNE,7.4,49.0,20.0,0,1018.5,21960.0,48255.0,2020-09-01,5104.0
4,4,2020-09-01 19:00:00,18.5,NNE,5.6,46.0,20.0,0,1017.9,21960.0,48255.0,2020-09-01,5104.0

In [156]:
df2.shape, df.shape

((11557, 13), (11554, 12))

In [157]:
print(df2.date.shape, df2.date.unique().shape)
df2 = df2.loc[~df2.date.duplicated(),:]
print(df2.date.shape, df2.date.unique().shape)

(11557,) (11554,)
(11554,) (11554,)

In [160]:
import holidays
holidays2 = holidays.country_holidays('FR')
holidays2 = pd.Series([i in holidays2 for i in df.date.dt.date.unique()],
                    index=pd.to_datetime(df.date.dt.date.unique()),
                    name="holidays2").astype("int")
holidays2

2020-09-01    0
2020-09-02    0
2020-09-03    0
2020-09-04    0
2020-09-05    0
             ..
2021-12-27    0
2021-12-28    0
2021-12-29    0
2021-12-30    0
2021-12-31    0
Name: holidays2, Length: 485, dtype: int32

In [161]:
df2.reset_index(drop=True, inplace=True)
df.reset_index(drop=True, inplace=True)
df["date_only"] = pd.to_datetime(df2["date_only"]).copy()
df = df.join(holidays2, on="date_only", how="left", rsuffix="right")
df.drop("date_only", axis=1, inplace=True)
df.head()

,Unnamed: 0,date,Temperature (C),wind_dir,wind_speed,Humidity,Visibility,Precipitation,pressure1,sunshine_time,suntime,new_cases,holidays2
0,0,2020-09-01 23:00:00,14.9,NNE,5.6,63,20.0,0,1019.1,21960,48255,5104,0
1,1,2020-09-01 22:00:00,15.2,NNE,5.6,59,20.0,0,1019.0,21960,48255,5104,0
2,2,2020-09-01 21:00:00,16.4,NE,7.4,52,20.0,0,1018.9,21960,48255,5104,0
3,3,2020-09-01 20:00:00,17.1,NNE,7.4,49,20.0,0,1018.5,21960,48255,5104,0
4,4,2020-09-01 19:00:00,18.5,NNE,5.6,46,20.0,0,1017.9,21960,48255,5104,0

In [162]:
df.dtypes

Unnamed: 0                  int64
date               datetime64[ns]
Temperature (C)           float64
wind_dir                   object
wind_speed                float64
Humidity                    int64
Visibility                float64
Precipitation               int64
pressure1                 float64
sunshine_time               int64
suntime                     int64
new_cases                   int64
holidays2                   int32
dtype: object

In [163]:
df.drop("Unnamed: 0", axis=1).to_csv("external_data_final.csv")